body {
    --fa-background-primary: rgb(0,125,125);
    --fa-padding-default: 15px;
    --fa-padding-small: 5px;
    --fa-font-size: 1rem;
    --fa-border-width: 2px;
    --fa-color-negative: crimson;
    --fa-color-primary: white;
    --fa-logo-size: 96px;
    width: 100vw;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    display: flex;
}

body,
h1,
h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

    body > header {
        background-color: var(--fa-background-primary);
        color: var(--fa-color-primary);
    }

    body > * {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    body > header {
        color: var(--fa-color-primary);
    }

    /*
    * See https://codepen.io/sosuke/pen/Pjoqqp for more filter calculations.
    */
    body #logo {
        width: var(--fa-logo-size);
        height: var(--fa-logo-size);
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(328deg) brightness(103%) contrast(103%);
    }

    body > header > footer {
        position: absolute;
        bottom: 0;
        font-size: 0.8rem;
        padding-bottom: var(--fa-padding-default);
    }

    /*
     * See https://codepen.io/sosuke/pen/Pjoqqp for more filter calculations.
     */
    body #logo {
        width: var(--fa-logo-size);
        height: var(--fa-logo-size);
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(328deg) brightness(103%) contrast(103%);
    }

    body #descriptor {
        text-align: center;
        font-size: var(--fa-font-size);
        margin-top: var(--fa-padding-default);
    }

    body form,
    body form > div {
        display: inline-flex;
    }

    body form {
        flex-direction: column;
        margin-top: var(--fa-padding-default);
        width: 70%;
        max-width: 300px;
    }

        body form > div {
            flex: 1;
            padding: var(--fa-padding-small) 0;
        }

            body form > div input {
                border: none;
                border-bottom: var(--fa-border-width) solid var(--fa-background-primary);
                padding: var(--fa-padding-small);
                outline: none;
                width: 100%;
                background: none;
            }

                body form > div input,
                body form > div input::placeholder {
                    color: var(--fa-background-primary);
                }

            body form > div > span {
                display: none;
            }

            body form > div input.input-validation-error {
                color: var(--fa-color-negative);
                border-bottom: var(--fa-border-width) solid var(--fa-color-negative);
            }

            body form > div input:active,
            body form > div input:focus {
                background: none;
                color: var(--fa-background-primary);
                border-bottom: var(--fa-border-width) solid var(--fa-background-primary);
            }

        body form .button-container {
            display: block;
            text-align: center;
        }

            body form .button-container > * {
                border: none;
                background: none;
                color: var(--fa-background-primary);
                padding-right: 0;
                font-size: var(--fa-font-size);
                text-decoration: none;
                cursor: pointer;
            }

.margin-top {
    margin-top: var(--fa-padding-default);
}

/*
 * Mobile-specific styling.
 */
@media only screen and (max-width: 700px) {
    body {
        flex-direction: column;
    }

    header {
        flex: unset;
        padding: var(--fa-padding-default);
    }

    footer {
        color: var(--fa-background-primary);
    }
}

.secondary {
    filter: brightness(0.7);
}